#divide1 {
    height: 10px;
}

#divide1 {
    height: 20px;
}

#divide2 {
    height: 50px;
}

#divide3 {
    height: 60px;
}

#divide5 {
    height: 70px;
}

#NavbarFooter {
    margin-bottom: 0px;
}

.labelcpt {
    text-align: center;
    font-size: 30px;
}

.flex-container {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    font-size: 32px;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    /* Standard syntax */;
}

.competence,
.contact,
.presentation,
.parcour {
    min-height: 100vh;
    margin-top: -20px;
    background-color: rgba(0, 123, 255, 0.15);
}

button {
    position: relative;
    margin: 0;
    padding: 5px 12px;
    height: 60px;
    width: 150px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgba(0, 123, 255, .25);
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    color: #1d89ff;
    font-weight: 400;
    font-size: 20px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button span {
    color: #164ca7;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

button:hover {
    animation: rotate 0.7s ease-in-out both;
}

button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

.btn-pill:before,
.btn-pill:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #1d89ff;
    content: '';
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.btn-pill:hover:before,
.btn-pill:hover:after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-pill:hover:before {
    transform: translate3d(50%, 0, 0) scale(0.9);
}

.btn-pill:hover:after {
    transform: translate(50%, 0) scale(1.1);
}

.btn-shine {
    border: 1px solid;
    overflow: hidden;
    position: relative;
}

.btn-shine span {
    z-index: 20;
}

.btn-shine:after {
    background: #38ef7d;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.btn-shine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-slide-line.center:after {
    left: 50%;
}

.btn-slide-line:after {
    position: absolute;
    right: 0;
    left: auto;
    transition: 0.3s;
    content: '';
    width: 0;
    bottom: 0;
    height: 3px;
    background: #164ca7;
}

.btn-slide-line:hover {
    cursor: pointer;
}

.btn-slide-line:hover:after {
    width: 100%;
    left: 0;
}

.element {
    margin-top: 50vh;
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
    /* tiré de la moitié de sa propre hauteur */;
}

footer {
    flex: 1 1 0;
    width: 100%;
    background-color: rgb(16, 16, 16);
    background-size: cover;
    background-position: 50% 50%;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: rgb(16, 16, 16);
}

.imgpresentation {
    width: 100%;
}

.txtcomp {
    font-family: Helvetica, cursive;
    font-size: 14pt;
    font-style: italic;
    margin-top: 20px;
}

.myButton {
    -moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
    -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background-color: #2dabf9;
    -webkit-border-top-left-radius: 32px;
    -moz-border-radius-topleft: 32px;
    border-top-left-radius: 32px;
    -webkit-border-top-right-radius: 32px;
    -moz-border-radius-topright: 32px;
    border-top-right-radius: 32px;
    -webkit-border-bottom-right-radius: 32px;
    -moz-border-radius-bottomright: 32px;
    border-bottom-right-radius: 32px;
    -webkit-border-bottom-left-radius: 32px;
    -moz-border-radius-bottomleft: 32px;
    border-bottom-left-radius: 32px;
    text-indent: 0;
    border: 1px solid #0b0e07;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    height: 57px;
    line-height: 57px;
    width: 156px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 1px 0px #263666;
}

.myButton:hover {
    background-color: #0688fa;
}

.myButton:active {
    position: relative;
    top: 1px;
}

/* max-width pour faibles résolutions */

@media screen and (max-width: 640px) {
    .name {
        position: absolute;
        left: 20%;
        top: 65%;
        color: black;
        font-size: 20px;
        font-weight: bold;

    }

    .job {
        position: absolute;
        left: 20%;
        top: 75%;
        color: #040000;
        font-size: 20px;
        font-weight: bold;

    }

    .jobbis {
        position: absolute;
        left: 20%;
        top: 85%;
        color: #040000;
        font-size: 20px;
        font-weight: bold;

    }

    .fond {
        height: 100vh;
        background-image: url("../img/laptop640.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
    }

    .footer {
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: rgb(16, 16, 16);
    }
}
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .name {
        position: absolute;
        left: 20%;
        top: 20%;
        color: #040000;
        font-size: 90px;
        font-weight: bold;

    }
    .job {
        position: absolute;
        left: 25%;
        top: 40%;
        color: #040000;
        font-size: 90px;
        font-weight: bold;

    }
    .jobbis {
        position: absolute;
        left: 40%;
        top: 60%;
        color: #040000;
        font-size: 90px;
        font-weight: bold;

    }
    .fond {
        height: 100vh;
        background-image: url("../img/computer1280.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
    }
    footer {
        flex: 1 1 0;
        width: 100%;
        background-color: rgb(16, 16, 16);
        background-size: cover;
        background-position: 50% 50%;
    }
    .footer {
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: rgb(16, 16, 16);
    }
}
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1281px et 11680px */
@media all and (min-width: 1281px) and (max-width: 1920px) {
    .name {
        position: absolute;
        left: 20%;
        top: 20%;
        color:#040000;
        font-size: 75px;
        font-weight: bold;

    }

    .job {
        position: absolute;
        left: 25%;
        top: 40%;
        color:#040000;
        font-size: 75px;
        font-weight: bold;

    }

    .jobbis {
        position: absolute;
        left: 40%;
        top: 60%;
        font-size: 75px;
        font-weight: bold;
        color:#040000;

    }

    .fond {
        height: 100vh;
        background-image: url("../img/computer1920.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 100%;
    }
}

.tabparcours {
    padding-top: 30px;
}

.circle {
    width: 200px;
    margin: 6px 20px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
}

strong {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 43px;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.animated_link {
    width: 100px;
    height: 50px;
    font-weight: bold;
    position: relative;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {left: -100px;}
    to {left: 100px;}
}

